// Styles for all of the user pages:
// Login, Signup, Support
 $redLight: #ff6444;
 $yellowLight: #00ad99;
 $blueLight: #00ada9;

page-user {
    background: #eaeadd !important;
    
    
    ion-content {
    //  background: $blueLight !important; 
      background-image: url(../assets/img/bg3.png);
      background-color: $blueLight !important;
      background-blend-mode: multiply;

      h1, h6 {
        margin: 0 auto;
        color: white;
        width: 100%;
        text-align: center;
      }

      h6 {
        margin-bottom: 20px;
      }

      ion-col {
              width: 100%;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;

              button {
                width: 50% !important;
                color: #fff;
                background-color: #d13734 !important;
                font-weight: bold;
                ion-icon {
                  margin-right: 10px;
                }
              }
          }
    }

  .logo {
    padding: 20px 0;
    min-height: 45vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .logo-cont {
        border-radius: 250px;
        overflow: hidden; 
        width: 150px;
        height: 150px;  
        width: 250px;
        height: 210px;
    }

    img {
      max-width: 250px;
      margin-bottom: -10px
    }
  }

  .list {
    margin-bottom: 0;
  }
}