
$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);
 
@function auxiliary-categories() {
  @return map-remove($categories);
}

page-factura-create {
    background-repeat: no-repeat !important;
    background-color: white;
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }

   	>ion-content { 
		width: 100vw;
	    background-image: url(../assets/img/tarjetas3.png);
		height: 100vh;
		background-size: auto 24vh;
		background-position:bottom left;
		background-repeat: no-repeat;
	}

	.fab-ios {
	    color: #fff;
	    background-color: #656062;
	}

	.item-inner {
        border: none !important;
	}

	.list-ios {
	    height: calc(100% - (40vh + 60px));
	    overflow: auto;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    margin: 0
	}
	
	ion-row {
		&.avatar-square {
			background: $redLight;
	    	height: 40vh;
	    	display: flex;
	    	align-items: flex-end;
	    	justify-content: center;
			width: 100%;
			float: left;
			position: relative;
			background-color: #581102 !important;
			-webkit-background-image: url(../assets/img/textura.jpg);
			background-image: url(../assets/img/textura.jpg);
			background-size: 100% 100%;
			background-blend-mode: overlay;
			
			.icon {
			    position: absolute;
			    width: 100px;
			    height: auto !important;
			    left: 0;
			    top: 0;
			}

			img {
				width: auto;
				margin: 0 auto;
				position: absolute;
				height: 50vh;
				bottom: 0;
				margin-bottom: -32vh;
				left: 6vw;
			}
		}
		&.btn-factura {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			float: left;
			height: 60px;

			button {
			    width: 150px;
			    font-size: 12px;
			    font-family: calibri;

			    &:nth-child(1) {
				    background: $redLight;
				    color: white;
				}
			    &:nth-child(2) {
				    background: white;
				    color: black;
				}
			}
		}
		&.buton-event {
		    position: absolute;
		    top: 5px;
		    right: 0;
		    width: 50px;
		    color: $greyLight;

		    ion-icon {
		    	margin-right: 10px
		    }
		}
	}

	.item-factura {
	    width: 80%;
	    margin: 0 auto;
	    margin: 20px auto;
	    border: 1px solid grey;
	    border-radius: 10px;

		.item-inner {
		    width: 94%;
		    margin: 0 3%;
		    box-sizing: border-box;
	        border: 0;
    		border-radius: 10px;
			
			.content-factura {
	    		position: relative;
			    width: 100%;
			    display: flex;
			    flex-direction: column;
			    background: gainsboro;
			    padding: 10px;
			    border-radius: 10px;
			    margin-top: 20px;
				color:$greyLight;

				.price {
				    width: 100%;
				    display: flex !important;
				    font-weight: bold;
				    justify-content: flex-end;
				    padding: 5px 20px;
				}
			}

			[icon-only] ion-icon {
			    font-weight: bold;
			}
		}
	}
  }

	.ion-wizard-footer {
		position: fixed;
		transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		top: 0;
		z-index: 100;
		display: block;
		width: 55vw !important;
		height: 50PX;
		text-align: center;
		margin-top: 40vh;
		margin-left: -12vw;
		left: 50% !important;
		bottom: inherit !important;

		button {
			width: 70px;
			height: 30px;
			background: $blueLight;
			color: white;
			border-radius: 10px;
			
			icon-icon, .icon {
				padding: 10px 0;
				width: 100%;
				font-size: 15px;
			}
		}
		ion-fab[right] {
			right: 0 !important;
		}
	}

    ion-wizard-step {
		left: 50%;
		top: initial !important;
		min-height: 20vh;
		margin-top: 0;
		width: 65vw !important;
		margin-left: -16vw;
		bottom: 0 !important;
	}

  	ion-list {
	    margin-top: 4px  !important;
		ion-item {
			border-radius: 10px;
			min-height: 35px !important;
		}
	}
    .card-md {
		background: rgba(255,255,255,0);
	    box-shadow: none !important;

		p {
			color: white;
			margin-bottom: 15px;
		}	

		ion-select {
			width: 100% !important;
			max-width: 100%;
			height: 35px !important;
			padding: 8px 3px 0 !important;

		}

	}

  .card-wizard-icon {
    font-size: 10em;
  }
}
