<!-- Generated template for the HeaderComponent component -->
<ion-header>
  <ion-navbar>
    
    <ion-buttons>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
        Te recuenrdo
    </ion-title>

    <ion-buttons end>
    <button ion-button icon-only (click)="logoutGoogle()">
      <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
  </ion-header>