<!-- Generated template for the HeaderComponent component -->
<ion-header>
  <ion-navbar>
    
    <ion-buttons>
      <button ion-button icon-only (click)="settings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end *ngIf="globalProvider.showLogout">
    <button ion-button class="logoutBtn" icon-only (click)="logoutGoogle()">
      <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
    </button>
    </ion-buttons>

  </ion-navbar>
  </ion-header>