
<ion-content>
  <global-header></global-header>

  <ion-row class="avatar-square">
    <ion-row class="overflow_{{ emptyBill }}">
    </ion-row>
    <img src="assets/img/{{dir}}/habla.gif"/>
    <div class="message-avatar">{{messageAvatarHome}}</div>
  </ion-row>

  <ion-row class="btn-factura">
    <button (click)="activeButton = 'a'" 
    [ngClass]=" activeButton === 'a' ? 'active': (activeButton === 'b' ? '' : 'active')"
     ion-button icon-only color="danger" (click)="getPendientes()" >  
      Pendientes
    </button>
    <button ion-button icon-only (click)="getCanceladas()"
    (click)="activeButton = 'b'" 
    [ngClass]="{ 'active': activeButton === 'b' }">  
      Canceladas
    </button>
  </ion-row>

  <ion-scroll scrollY="true" class="list-bill">
  

    <ion-row class="item-factura" *ngIf="getfacturas.length == 0">
        <ion-item>
            ¡No hay facturas para mostrar!
        </ion-item>
    </ion-row>

    <ion-row sticky ion-item *ngFor="let factura of getfacturas" class="item-factura">
      <ion-list>
        <ion-item-sliding #item>
          
          <ion-item>
          <!--img src="assets/img/claro.png" alt="" class="logo"-->
          <b class="blueColor"  (click)="itemTapped(factura)">{{ factura.proveedor.nombre }}</b>
          <ion-row class="buton-event" *ngIf="!statusCanceladas">
            <ion-icon ios="ios-create" md="md-create" (click)="editBill(factura)" ></ion-icon>
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          </ion-row>
          
          <ion-row class="content-factura" (click)="itemTapped(factura)">
            <ion-row>
              <b>{{ factura.nombre }}</b>
            </ion-row>
            <ion-row>
              <b>Fecha de pago: </b> &nbsp; {{ factura.fecha_pago | date }}
            </ion-row>
            <ion-row class="price">
              <b>Q{{ factura.valor_factura }}</b>
            </ion-row>
          </ion-row>
        </ion-item>

          <ion-item-options side="right" *ngIf="!statusCanceladas">
            <button ion-button color="danger" (click)="cancelBill(factura)">
              Cancelar <ion-icon name="checkbox-outline"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-row>  
  </ion-scroll>

  <ion-fab bottom right>
    <button ion-fab (click)="createBill()">   
      <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>

<ion-row class="overflow_{{ emptyBill }}">
    <img class="arrow" src="assets/img/share.png" />
</ion-row> 