$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
/*     background-image: url(../assets/img/bg.png);
     -webkit-background-image: url(../assets/img/bg.png);
     background-size: 100% 100%;
  */  background-repeat: no-repeat !important;
    background-color: white;

  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }

   	>ion-content { 
		width: 100vw;
		background: white !important;
		height: 100vh;
	}

	.ion-fab, .fab-md.activated, .fab-md {
	    color: #fff;
	    background-color: $redLight !important;
        width: 50px;
	    height: 50px;
	    border-radius: 50px;
	    font-size: 30px;
	}

	.item-inner {
        border: none !important;
	}

	.list-bill {
	    height: calc(100% - (40vh + 60px));
	    overflow: auto;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
		margin: 0;   
		background-color: #efefef;
	}
	
	ion-row {
		&.avatar-square {
			background: $greyLight;
	    	height: 40vh;
	    	display: flex;
	    	align-items: flex-end;
	    	justify-content: center;
			width: 100%;
			float: left;
			position: relative;
			background-color: $blueLight !important;
			background-blend-mode: overlay;
			-webkit-background-image: url(../assets/img/textura.jpg);
			background-image: url(../assets/img/textura.jpg);
			background-size: 100% 100%;
		
			.overflow_true {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				background: rgba(0,0,0, 0.48);
				bottom: 0;

			}	

			.message-avatar {
				position: absolute;
				background: $greyLight;
				width: 100px;
				height: 70px;
				border-radius: 10px;
				padding: 10px;
				text-align: center;
				font-size: 12px;
				display: flex;
				align-items: center;
				border: 0;
				right: 25px;
				top: 50%;
				margin-top: -40px;
				color: white;
				z-index: 2;

				&:after {
					content:"";
					    width: 0;
						height: 0;
						border-right: 10px solid transparent;
						border-top: 10px solid transparent;
						border-left: 10px solid transparent;
						border-bottom: 10px solid $greyLight;
						position: absolute;
						left: 0;
						margin-left: -10px;
				}
			}
	
			.icon {
			    position: absolute;
			    width: 100px;
			    height: auto !important;
			    left: 0;
			    top: 0;
			}

			img {
			    height: 30vh;
				margin: 0 auto;
				position: relative;
				z-index: 2;
			}
		}
		&.btn-factura {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			float: left;
			height: 60px;
			position: relative;

		/*	&:after {
				content: "";
				width: 92vw;
				height: 361px;
				border-radius: 286vw;
				-webkit-box-shadow: 30px 10px 0 #d9534f;
				box-shadow: 108px 10px 0 #ffffff;
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-o-transform: rotate(-45deg);
				transform: rotate(-268deg);
				top: 0;
				position: absolute;
				margin-top: -62vh;
				z-index: 0;
			}
*/
		
			button {
			    width: 150px;
			    font-size: 14px;
			    font-family: calibri;

			    &:nth-child(1) {
				    background: white;
				    color: $greyLight;
					box-shadow: none !important;
					//border-right: 1px solid $greyLight;
				}
			    &:nth-child(2) {
				    background: white;
				    color: $greyLight;
					box-shadow: none !important;
				}
			}
		}
		&.buton-event {
		    position: absolute;
		    top: 5px;
		    right: 0;
		    width: 50px;
		    color: $greyLight;

		    ion-icon {
		    	margin-right: 10px
		    }
		}
	}

	.item-factura {
	    width: 80%;
	    margin: 0 auto;
	    margin: 20px auto;
	    border: 1px solid gainsboro;
	    border-radius: 10px;

		ion-item-sliding .item {
			padding: 0 !important;
		}

		.logo{
			width: 40px;
		}

		.item-inner {
		    box-sizing: border-box;
	        border: 0;
    		border-radius: 10px;

			ion-list.list.list-md{
				margin: 0 !important;
			}	

			ion-label.label.label-md img {
				width: 40px;
			}
			
			.content-factura {
	    		position: relative;
			    width: 100%;
			    display: flex;
			    flex-direction: column;
			    background: gainsboro;
			    padding: 10px;
			    border-radius: 10px;
			    margin-top: 5px;
				color:$greyLight;
				font-size: 13px;

				.price {
				    width: 100%;
				    display: flex !important;
				    font-weight: bold;
				    justify-content: flex-end;
				}
			}

			[icon-only] ion-icon {
			    font-weight: bold;
			}
		}
	}
  }
}

.btn-factura button.active {
    background: $redLight !important;
    color: white !important;
}

.list-md ion-item-options .button {
	width: 100px !important;
	text-transform: capitalize;
	
	span {
		display: flex !important;
		align-items: center;
		justify-content: center;

		ion-icon {
			margin-top: 10px;
			font-size: 30px;
		}
	}
}

.overflow_true {
    width: 100%;
    height: 60vh;
    position: fixed;
    z-index: 20;
    background: rgba(0,0,0, 0.48);
    bottom: 0;
		.arrow {
			width: 150px;
			transform: rotate(45deg);
			position: absolute;
			left: 50%;
			bottom: 10%;
			margin-left: -75px;
//			-webkit-transition: width 2s;
			//transition: width 2s;
//			animation-name: example;
//			animation-duration: 4s;		
		}
}

.label-md {
    margin: 10px 0;
}

@keyframes example {
	30%   {width:50px;}
	70%  {width:100px;}
	100%  {width:150px;}
}
