$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
/*     background-image: url(../assets/img/bg.png);
     -webkit-background-image: url(../assets/img/bg.png);
     background-size: 100% 100%;
  */  background-repeat: no-repeat !important;
    background-color: white;

  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }

   	>ion-content { 
		width: 100vw;
		background: white !important;
		height: 100vh;
	}

	.ion-fab, .fab-md.activated, .fab-md {
	    color: #fff;
	    background-color: #656062 !important;
        width: 50px;
	    height: 50px;
	    border-radius: 50px;
	    font-size: 30px;
	}

	.item-inner {
        border: none !important;
	}

	.list-bill {
	    height: calc(100% - (40vh + 60px));
	    overflow: auto;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    margin: 0
	}
	
	ion-row {
		&.avatar-square {
			background: $greyLight;
	    	height: 40vh;
	    	display: flex;
	    	align-items: flex-end;
	    	justify-content: center;
			width: 100%;
			float: left;
			position: relative;
			
			.message-avatar {
				position: absolute;
				background: white;
				width: 100px;
				height: 70px;
				border-radius: 100px;
				padding: 10px;
				text-align: center;
				font-size: 12px;
				display: flex;
				align-items: center;
				border: 1px solid;
				right: 25px;
				top: 50%;
				margin-top: -40px;
				
				&:after {
					content:"";
					    width: 0;
						height: 0;
						border-right: 10px solid transparent;
						border-top: 10px solid transparent;
						border-left: 10px solid transparent;
						border-bottom: 10px solid #ffff;
						position: absolute;
						left: 0;
						margin-left: -10px;
				}
			}
	
			.icon {
			    position: absolute;
			    width: 100px;
			    height: auto !important;
			    left: 0;
			    top: 0;
			}

			img {
			    height: 30vh;
			    margin: 0 auto;
			}
		}
		&.btn-factura {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			float: left;
			height: 60px;

			button {
			    width: 150px;
			    font-size: 14px;
			    font-family: calibri;

			    &:nth-child(1) {
				    background: $redLight;
				    color: white;
				}
			    &:nth-child(2) {
				    background: white;
				    color: black;
				}
			}
		}
		&.buton-event {
		    position: absolute;
		    top: 5px;
		    right: 0;
		    width: 50px;
		    color: $greyLight;

		    ion-icon {
		    	margin-right: 10px
		    }
		}
	}

	.item-factura {
	    width: 80%;
	    margin: 0 auto;
	    margin: 20px auto;
	    border: 1px solid grey;
	    border-radius: 10px;

		.item-inner {
		    width: 94%;
		    margin: 0 3%;
		    box-sizing: border-box;
	        border: 0;
    		border-radius: 10px;
			
			.content-factura {
	    		position: relative;
			    width: 100%;
			    display: flex;
			    flex-direction: column;
			    background: gainsboro;
			    padding: 10px;
			    border-radius: 10px;
			    margin-top: 20px;
				color:$greyLight;

				.price {
				    width: 100%;
				    display: flex !important;
				    font-weight: bold;
				    justify-content: flex-end;
				    padding: 5px 20px;
				}
			}

			[icon-only] ion-icon {
			    font-weight: bold;
			}
		}
	}
  }
}
